.home-container {
  padding: 20px;
  text-align: center;
}

.banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.home-desktop-img{
  width: 20vw;
  display: none;
}

.home-mobile-img{
  width: 20vw;
}